body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1, h2, h3 {
    color: #333;
}
#keywords ul, #paper-list {
    list-style-type: none;
    padding: 0;
}
#keywords a {
    text-decoration: none;
    color: #007BFF;
    cursor: pointer;
}
#keywords a:hover {
    text-decoration: underline;
}
