body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #00356B;
  color: white;
  text-align: center;
  padding: 1em 0;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f4;
  padding: 1em 0;
}

.filter-group h2 {
  color: #00356B;
  text-align: center;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.button-group button {
  background-color: #00356B;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
}

.button-group button:hover {
  background-color: #00509E;
}

main {
  padding: 2em;
}

.paper-item {
  border-bottom: 1px solid #ccc;
  padding: 1em 0;
  font-family: 'Georgia', serif;
}

.paper-item h3 {
  margin: 0;
  color: #00356B;
}

.paper-item p {
  margin: 0.5em 0;
}